[submodule "projects/api"]
	path = projects/api
	url = git@github.com:goodandco/jeka-api.git
[submodule "projects/backoffice"]
	path = projects/backoffice
	url = git@github.com:goodandco/jeka-backoffice.git
